name: PR Automation

# 필요 시점에 yml 분리
on:
  pull_request:
    types: [opened, ready_for_review, closed]

permissions:
  pull-requests: write

jobs:
  pr-setup:
    if: github.event.action == 'opened' || github.event.action == 'ready_for_review'
    runs-on: ubuntu-latest
    steps:
      - name: Add Label [Review Needed]
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          gh pr edit $PR_NUMBER -R ${{ github.repository }} --add-label "Review Needed"
      - name: Add Assignee & Reviewers
        uses: kentaro-m/auto-assign-action@v2.0.0
        with:
          configuration-path: '.github/config/auto_assign_config.yml'

  pr-merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Update Labels on Merge [Review Needed -> Approved]
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          gh pr edit $PR_NUMBER -R ${{ github.repository }} --add-label "Approved" --remove-label "Review Needed"
          